.navLeftChapter {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 515px;
  padding: 35px 0 0 0;
  background-color: white;
}
.navItem {
  display: flex;
  margin: 10px 0 17px 0;
  height: 15px;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;
}
.navItem div {
  position: absolute;
  left: 50px;
}
.icon {
  transform: scale(0.35);
  position: absolute;
  left: 0px;
  /* width: 24px;
  height: 24px; */
}
