.anotherCarousel {
  display: flex;
  gap: 14px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.itemContainer {
  width: 68%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carouselItem {
  height: 100%;
  flex: 0 0 155px;
  border-radius: 10px;
  padding: 22px 17px 17px 17px;
  background-image: url("../../../../../assets/topSection_item/topSection_item_01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.carouselItem p {
  padding: 10px 0 0 0;
  font-size: 13px;
}

/* .anotherCarousel {
  display: flex;
  gap: 15px;
  width: 68%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease 0s;
} */
